<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkDuUOBlPbtlMTIs1O5d9wulPRjqX59tw</string>
	<key>GCM_SENDER_ID</key>
	<string>317807397984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.storychat</string>
	<key>PROJECT_ID</key>
	<string>fiber-chat-76342</string>
	<key>STORAGE_BUCKET</key>
	<string>fiber-chat-76342.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317807397984:ios:0777606fb4cb97fc3b4705</string>
</dict>
</plist>